@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
#content {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-color: #fff;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 150px 1fr;
}
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #04213A;
        border-radius: 10px;
        font-family: "Parisienne", Garamond, sans-serif;
        font-size: 35px;
        margin: 20px;
    }
    nav a {
        text-align: center;
        color: #FDF9ED;
        text-decoration: none;
        padding: 35px;
    }
    nav a:hover {
        background-color: #062d4f;
        color: #FDF9ED;
        border-radius: 10px;
    }
        .dropbtn {
            background-color: #04213A;
            color: white;
            padding: 30px;
            font-size: 35px;
            border: none;
            border-radius: 10px;
            font-family: "Parisienne", Garamond, sans-serif;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {background-color: #062d4f;}
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: #062d4f;}
    .logo {
        width: 150px;
        height: 150px;
        margin-left: 20px;
        grid-column: 2/3;
    }
    .coverimage {
        width: 100%;
        height: 500px;
        border-radius: 10px;
        margin: 20px;
        grid-column: 1/3;
        box-shadow: 5px 5px 10px #04213A;
    }
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px auto;
    background-color: #DBC2CF;
    margin: 100px;
}
    .profile {
        grid-row: 1;
        grid-column: 2/3;
        justify-self: center;
        margin: 40px;
    }
    .profileimage {
        border-radius: 50%;
        width: 175px;
        height: 175px;
        border-style: solid;
        border-width: 5px;
        border-color: #04213A;
    }
    .profile h1 {
        grid-column: 2/3;
        font-family: "Parisienne", Garamond, sans-serif;
        font-size: xx-large;
        text-align: center;
    }
    .education {
        grid-row: 2;
        grid-column: 1/4;
        margin-left: 200px;
    }
    .experience {
        grid-row: 3;
        grid-column: 1/4;
        margin-left: 200px;
    }
    .skillsinterests {
        grid-row: 4;
        grid-column: 1/4;
        margin-left: 200px;
    }
    .education h2, .experience h2, .skillsinterests h2 {
        font-family: "Parisienne", Garamond, sans-serif;
        font-size: xx-large;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        margin-left: -50px;
    }
    .education h3, .experience h3, .skillsinterests h3 {
        font-family: "Times New Roman", Garamond, sans-serif;
        font-weight: bold;
        margin-left: -25px;
    }
    footer {
        color: #fff;
        background-color: #977289;
        padding: 25px 50px;
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer a {
        color: #fff;
        text-decoration: none;
    }
        .linkedin {
            width: 30px;
            height: 30px; }